.clients {
    display: flex;

    &__icon {
        width: 106px;
        height: 60px;
        transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__block:not(:last-child) {
        margin-right: 30px;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 170px;
        height: 90px;
        fill: var(--clients-logos-bg);
        border-radius: 4px;
        border: 1px solid var(--clients-logos-bg);
        transition: fill, border var(--main-transition);


        &:hover,
        &:focus {
        fill: var(--accent-color);
        border: 1px solid var(--accent-color);
        }
    }
}